@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* font from https://www.dafont.com/game-over.font */
@font-face {
  font-family: gameover;
  src: url("game_over.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
   color: rgb(62, 166, 255);
}

.header {
  margin-top: px;
  color: rgb(62, 166, 255);
  font-size: 25px;
  text-align: center;
  font-family: gameover;
}

input[type="color"] {
    display: block;
    outline: none;
    border: none;
    /* border: 1px solid rgb(62, 166, 255); */
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    width: 200%;
    /* padding: 4px 8px; */
    height: 200%;
    transform: translateX(-10px) translateY(-10px);

}

.main {
  display: flex;
  justify-content: space-evenly;
}

.controls {
  width: 300px;
  background-color: #202020;
  border-radius: 4px;
  padding: 30px;
}

.color-box {
  height: 36px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgb(62, 166, 255);
  width: 35%;
  margin-bottom: 10px;
}

.color-card {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    color: rgb(62, 166, 255);
    display: flex;
    position: relative;
    
}

.color-card span {
    margin-left: 9px;
    position: absolute;
    top: 10px;
    left: 88px;
    
}



button {
    display: block;
    color: rgb(62, 166, 255);
    font-weight: 500;
    font-family: roboto;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(62, 166, 255);
    border-radius: 2px;
    padding: 9px 15px;
    width: 100%;
    margin-bottom: 10px;
}

.cc2 {
    margin-bottom: 25px;
}

#color-grabber {
    margin-bottom: 34px;
}

#lighten-btn {
    margin-bottom: 31px;
}

.slider-box {
    margin-bottom: 10px;
}

.btn-on {
    background-color: rgb(62, 166, 255);
    color: #202020;
}
